NODE_ENV=development
PORT=your_port

DATABASE=database_connection_string
DATABASE_LOCAL=mongodb://localhost:27017/natours-test
DATABASE_PASSWORD=database_password

JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=jwt_expiry
JWT_COOKIE_EXPIRES_IN=jwt_cookie_expiry

MAILTRAP_USERNAME=dev_email_username
MAILTRAP_PASSWORD=dev_email_password
MAILTRAP_HOST=dev_email_host
MAILTRAP_PORT=dev_email_host_port

MAIL_USERNAME=prod_email_usernane
MAIL_PASSWORD=prod_email_password

OAUTH_CLIENTID=service_client_id
OAUTH_CLIENT_SECRET=service_client_secret
OAUTH_REFRESH_TOKEN=service_refresh_token

MAX_LOGIN_ATTEMPTS=max_login_attempts
LOCK_TIME=lock_time