NODE_ENV=development
PORT=your_port
DATABASE=database_connection_string
DATABASE_LOCAL=mongodb://localhost:27017/natours-test
DATABASE_PASSWORD=database_password
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=jwt_expiry
JWT_COOKIE_EXPIRES_IN=jwt_cookie_expiry
EMAIL_USERNAME=email_username
EMAIL_PASSWORD=email_password
EMAIL_HOST=email_host
EMAIL_PORT=email_host_port
MAX_LOGIN_ATTEMPTS=max_login_attempts
LOCK_TIME=lock_time