extends baseEmail

block content
	p Hi #{firstName},
	p Thank you for signing up with Natour, to confirm your email click on the url below: 
	p #{url}
	p This link will expire in 24 hours, if you didn't sign up for Natours, please ignore this email.
	table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
		tbody
			tr
				td(align='left')
					table(role='presentation', border='0', cellpadding='0', cellspacing='0')
						tbody
							tr
								td
									a(href=`${url}`, target='_blank') Confirm your email.
	p Best
	p Natours team.
